PORT=5000
DB_USER=postgres
DB_HOST=localhost
DB_NAME=miniproject
DB_PASSWORD=titanic
DB_PORT=5432
JWT_SECRET=supersecurejwtsecret
ENCRYPTION_KEY=db898bcfdd861280e3dd5dc0cef83bc85885c980a221e6fe449d48659bcc8278
